/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
    color: #333; /* Cor de texto padrão */
    background-color: #F0F8F0; /* Um verde bem clarinho para o fundo */
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Cabeçalho */
header {
    background-color: #228B22; /* Verde floresta */
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #90EE90; /* Verde claro para o título */
}

header p {
    font-size: 1.1rem;
    color: #D3FFD3; /* Um verde ainda mais claro para o parágrafo */
}

/* Seções */
section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #3CB371; /* Verde menta para os títulos das seções */
    border-bottom: 2px solid #66CDAA; /* Verde água-marinha para a linha abaixo do título */
    padding-bottom: 10px;
    margin-bottom: 15px;
}

/* Listas */
ul {
    list-style-type: none; /* Remove os marcadores padrão da lista */
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    padding-left: 25px;
    position: relative;
}

ul li:before {
    content: '🌿'; /* Ícone de folha para os itens da lista */
    position: absolute;
    left: 0;
    color: #54C571; /* Verde esmeralda para o ícone */
}

/* Imagens */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Rodapé */
footer {
    background-color: #2E8B57; /* Verde mar */
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 20px;
    font-size: 0.9rem;
}

footer p {
    margin: 5px 0;
    color: #E0FFE0; /* Um verde bem clarinho para o texto do rodapé */
}

/* Estilos para o link (se você adicionar um link no futuro) */
a {
    color: #006400; /* Verde escuro para links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}